

.mainAnchorPane {
    -fx-background-color:#4A235A;
}

.button
{
    -fx-background-color:#4A235A;
    -fx-text-fill: white;
}
.comboBox
{
    -fx-background-color:#4A235A;
    -fx-text-fill: white;
}

#root
{
    -fx-background-image: url("../background.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.username
{
    -fx-background-color:transparent;
    -fx-border-width: 0px, 0px, 3, 0px;
    -fx-border-color:white;
    -fx-text-fill:white;
}

.password{
    -fx-background-color:transparent;
}

.label
{
    -fx-text-fill: white;
}