
/*----------------------- Tabbed Pane Menu properties ------------------------*/
.tabsLayout{
    -fx-background-color: #283039;
    -fx-background-size: cover;
    -fx-effect: null;
}

.tab-pane .headers-region{
    -fx-effect: null;
}

.tabsLayout .tab-header-area{
    -fx-padding: 25 -10 0 0;
    -fx-pref-height: 70;
    -fx-effect: null;
}

.tabsLayout .tab-header-area .tab-header-background{
    -fx-background-color: #1e2329;
    -fx-effect: null;
}

.tabsLayout .tab{
    -fx-pref-height: 70;
    -fx-pref-width: 65;
    -fx-background-color: #1e2329;
}

.tabsLayout .tab:selected{
    -fx-pref-height: 70;
    -fx-pref-width: 65;
    -fx-background-color: #283039;
    -fx-underline: false;
}

.jfx-tab-pane .tab-selected-line {
    -fx-pref-height: 0;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #6692c7;
}
/*---------------------------------------------------------------------------*/
/*---------------------- Tabbed Chat Rooms properties -----------------------*/
#chattingAreaPane {
    -fx-background-image: url(../chatting_bg.jpg);
    -fx-background-size: cover;
}

#chatRoomsTabbedPane .tab-header-area .tab-header-background{
    -fx-background-color: rgba(0, 0, 0, 0);
}
#chatRoomsTabbedPane .tab-header-area{
    -fx-padding: 2 0 0 2;
}
#chatRoomsTabbedPane .tab{
    -fx-border-width: 0;
    -fx-background-color: rgba(52, 61, 67, 0.4);
    -fx-background-radius: 12 12 2 2;
}
#chatRoomsTabbedPane .tab:selected{
    -fx-border-width: 0;
    -fx-background-color: rgba(163, 193, 210, 0.4);
    -fx-background-radius: 12 12 2 2;
}
#chatRoomsTabbedPane .tab-label{
    -fx-text-fill: black;
}
#chatRoomsTabbedPane .tab:selected .tab-label{
    -fx-text-fill: white;
}
#chatRoomsTabbedPane .tab:selected .focus-indicator{
    -fx-border-width: 0;
}
/*---------------------------------------------------------------------------*/

#mainPane{
    -fx-background-color: rgba(255, 255, 255, 1);
}

#toolbarPane{
    -fx-background-image: url(../mainscene_toolbar.jpg);
    -fx-background-size: stretch;
}

#modeOptionsCB .list-view .list-cell{
    -fx-text-fill: black;
}
#modeOptionsCB .cell:selected{
    -fx-text-fill: snow;
}

/*---------------------------------------------------------------------------*/
/*
.jfxButton {
    -fx-background-color: burlywood;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 9px;
}
*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*
.bevelledBtn {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.bevelledBtn:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.bevelledBtn:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.bevelledBtn Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
*/
/*-------------------------------------------------------------------------- */
